# Archivos temporales y carpetas de Vivado
*.jou
*.log
*.str
*.zip
*.bak
*.tmp

# Carpetas generadas automáticamente
.cache/
.hw/
.ip_user_files/
.runs/
.sim/
.Xil/
webtalk/
# Archivos de implementación
*.dcp
*.rpt
*.bit
*.bin
